   .formContainer {
   background-color: aliceblue;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;

   .formWrapper {
      background-color: #fff;
      padding: 20px 60px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      border-radius: 10px;

      .logo {
         color: rgb(50, 50, 244);
         font-size: 32px;
         font-weight: 500;
      }

      .title {
         color: rgb(51, 156, 248);
         font-size: 18px;
      }
      form {
         display: flex;
         flex-direction: column;
         gap: 15px;

         input {
         padding: 15px;
         width: 250px;
         border: none;
         border-bottom: 1px solid rgb(122, 122, 236);
         &::placeholder {
            color: rgb(122, 122, 236);
         }
         }

         button {
         padding: 10px;
         font-weight: bold;
         border: none;
         cursor: pointer;
         color: #fff;
         background-color: rgb(51, 117, 248);
         }

         label {
         display: flex;
         align-items: center;
         gap: 10px;
         font-size: 12px;
         color: rgb(51, 156, 248);
         cursor: pointer;
         }
      }

      p {
         color: rgb(51, 156, 248);
         font-size: 12px;
         margin-top: 10px;
      }
   }
   }

   body {
   margin: 0;
   }
   .home {
   background-color: rgba(161, 239, 161, 0.948);
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;

   .container {
      border: 1px solid #fff;
      border-radius: 10px;
      height: 80%;
      width: 60%;
      display: flex;
      overflow: hidden;

      .sidebar {
         flex: 1;
         background-color: beige;

         .navbar {
         display: flex;
         align-items: center;
         justify-content: space-between;
         height: 25px;
         padding: 10px;
         background-color: blanchedalmond;

         .logo {
            font-weight: bold;
         }

         .user {
            display: flex;
            gap: 10px;
         }

         img {
            background-color: beige;
            height: 32px;
            width: 32px;
            border-radius: 50%;
            object-fit: cover;
         }

         button {
            background-color: aquamarine;
            border: none;
            font-size: 10px;
            cursor: pointer;
            height: 25px;
            font-weight: 500;
         }
         }

         .search {
         border-bottom: 1px solid rgb(167, 150, 150);

         .searchForm {
            padding: 10px;
            input {
               border: none;
               background-color: transparent;
               outline: none;

               &::placeholder {
               color: rgba(2, 107, 107, 0.825);
               }
            }
         }

         .userChat {
            padding: 10px;
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;

            &:hover {
               background-color: rgb(247, 231, 209);
            }
            img {
               height: 50px;
               width: 50px;
               border-radius: 50%;
               object-fit: cover;
            }
         }
         }
      }
      .chat {
         flex: 2;
         background-color: azure;
      }
   }
   }
